Source: ros-jade-explore-lite
Section: misc
Priority: extra
Maintainer: Jiri Horner <laeqten@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib, ros-jade-actionlib-msgs, ros-jade-catkin, ros-jade-costmap-2d, ros-jade-geometry-msgs, ros-jade-map-msgs, ros-jade-move-base-msgs, ros-jade-nav-msgs, ros-jade-navfn, ros-jade-roscpp, ros-jade-roslaunch, ros-jade-std-msgs, ros-jade-tf, ros-jade-visualization-msgs
Homepage: http://wiki.ros.org/explore_lite
Standards-Version: 3.9.2

Package: ros-jade-explore-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-actionlib-msgs, ros-jade-costmap-2d, ros-jade-navfn, ros-jade-roscpp, ros-jade-tf
Description: Lightweight frontier-based exploration.
