Source: ros-lunar-explore-lite
Section: misc
Priority: extra
Maintainer: Jiri Horner <laeqten@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-actionlib, ros-lunar-actionlib-msgs, ros-lunar-catkin, ros-lunar-costmap-2d, ros-lunar-geometry-msgs, ros-lunar-map-msgs, ros-lunar-move-base-msgs, ros-lunar-nav-msgs, ros-lunar-roscpp, ros-lunar-roslaunch, ros-lunar-std-msgs, ros-lunar-tf, ros-lunar-visualization-msgs
Homepage: http://wiki.ros.org/explore_lite
Standards-Version: 3.9.2

Package: ros-lunar-explore-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-actionlib, ros-lunar-actionlib-msgs, ros-lunar-costmap-2d, ros-lunar-geometry-msgs, ros-lunar-map-msgs, ros-lunar-move-base-msgs, ros-lunar-nav-msgs, ros-lunar-roscpp, ros-lunar-std-msgs, ros-lunar-tf, ros-lunar-visualization-msgs
Description: Lightweight frontier-based exploration.
