Source: ros-melodic-multirobot-map-merge
Section: misc
Priority: optional
Maintainer: Jiri Horner <laeqten@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-image-geometry, ros-melodic-map-msgs, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-roslaunch, ros-melodic-rosunit, ros-melodic-tf2-geometry-msgs
Homepage: http://wiki.ros.org/multirobot_map_merge
Standards-Version: 3.9.2

Package: ros-melodic-multirobot-map-merge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-image-geometry, ros-melodic-map-msgs, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-tf2-geometry-msgs
Description: Merging multiple maps without knowledge of initial positions of robots.
